<div class="footer bg-dark text-white text-center fixed-bottom">
    Полесский государственный университет, ул. Днепровской флотилии, 23, 225710 Пинск, Брестская область, Республика Беларусь.<br>
    Tel.: + 375 (165) 31 21 60 , Fax: + 375 (165) 31 21 95, e-mail: box@polessu.by web-site: <a href="www.polessu.by">www.polessu.by</a><br>
    © 2012-2017 Полесский государственный университет Центр информационных технологий
</div>

<div id="loader"><img id="loadImg" src="../images/ajax-loader.gif" /></div>